/***** GLOBAL ******/

html, body {
    background-color: #2c3e50 !important;
    min-height: inherit !important;
}

/***** HOME ******/

.title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ecf0f1;
    font-size: 100px;
}

.subtitle {
    font-family: 'Roboto Slab', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    font-size: 2.92rem;
}

.bottom-bar {
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

/***** DECKS ******/

.card {
    width: 525px;
    height: 260px;
    margin: 40px 12px 12px;
    overflow-y: hidden;
}

.card > .md-card-media-cover {
    height: 100%;
}

/***** GAME ******/

.players {
    margin-top: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.rules {
    margin-top: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    max-width: 250px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;

    border-radius: 25px;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.player-name {
    color: #FFFFFF;
}

.go-back {
    margin-top: 20px;
}

.deck {
    text-align: center;
}

