<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rôt'INSA</title>
    <meta name="description" content="La rôtisserie en ligne">
    <meta name="author" content="Des gens rôti">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <script src="https://unpkg.com/vue/dist/vue.min.js" defer></script>
    <script src="index.js" defer></script>
</head>
<body>

<div id="app">
    <div id="home">
        <div>
            Rôt'INSA
        </div>
        <h3>La rotiserie en ligne</h3>
        <card v-for="deck in decks" :deck="deck"></card>
    </div>

    <deck></deck>

    <div id="about">
        Someday
    </div>
</div>


<!------- COMPONENTS -------->

<script type="text/x-template" id="card-component">
    <div class="card">
        <span>Nom : {{ deck.name }}</span>
        <button @click="loadDeck()">GO</button>

    </div>
</script>

<script type="text/x-template" id="deck-component">
    <div v-if="launched" class="deck">
        <div v-if="!playersInit">
            <span>Question : {{ cardReader }}</span>
            <button @click="next()">Next</button>
            <button @click="close()">Close</button>
        </div>

        <players v-if="playersInit" v-on:validate="validatePlayers"></players>
    </div>
</script>

<script type="text/x-template" id="players-component">
    <div class="deck">
        <div v-for="player in players">
            <label>
                Nom du joueur : <input v-model="player.name" placeholder="Pseudo">
            </label>
        </div>
        <button @click="addPlayer()">Ajouter un joueur</button>
        <button @click="validate()">Valider</button>
    </div>
</script>
</body>

</html>